include LICENSE
include README.md
include CHANGELOG.rst
recursive-include flask_mercadopago *.py

exclude tox.ini
exclude .docstr.yaml
exclude .readthedocs.yaml
exclude pyproject.toml
exclude *.model
recursive-exclude tests *
recursive-exclude .github *
recursive-exclude sample_app *
recursive-exclude requirements *
recursive-exclude docs *
recursive-exclude res *